/* HEADER */
header {
    display: grid;
    grid-template-columns: 15% minmax(150px, 20%) 1fr auto;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 2px rgb(196, 18, 18);
    gap: 1rem;
}

header img {
    width: 60px;
    height: auto;
}

.nav {
    display: flex;
    flex: 1 1 25%;
    align-items: left;
    justify-content: space-between;
    text-decoration: none;
}

nav a {
    text-decoration: none;

}

.basket-icon {
    justify-self: end;
}

.basket-icon img {
    width: 30px;
    height: auto;
    padding-left: 2rem;
}

/* HERO SECTION */
.hero img {
    width: 100%;
    height: calc(100vh - 65px);
}

/* LIBRARY STYLE */
.toyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.toyContainer .toy-card {
    width: 300px;
    height: auto;
    background-color: yellow;
    /* align-content: center; */
    justify-items: center;
}

.toy-card img {
    width: 90%;
    height: 150px;
    background-color: rgba(92, 85, 85, 0.295);
    align-self: center;
}



/* BASKET ---> basket.js*/
.basket-card {
    display: grid;
    grid-template-columns: 50px minmax(250px, 60%) auto;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: bisque;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgb(214, 155, 83) inset;
}

.basket-card img {
    width: 70px;
    height: auto;
    padding: 10px;
    align-self: center;
    border: 2px solid rgb(150, 80, 80);
    border-radius: 6px;
    margin-left: 1rem;
}

.basket-card button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(119, 126, 86);
    color: white;
    border: none;
    align-self: center;
}

.basket-card .toy-details {
    margin-left: 2.5rem;
    align-self: center;
}

.basket-card button {
    transition: transform 0.2s ease;
}

.basket-card button:hover {
    background-color: rgb(150, 80, 80);
    cursor: pointer;
    transform: scale(1.1);
}