:root {
    /* fonts */
    --primary-color: #CC5F00;
    --secondary-color: #F7FE72;
    --accent1-color: #0B4F6C;
    --accent2-color: #C41212;
    --background-color: #FFF8DC;

    /* fonts */
    --main-heading: "Outfit", sans-serif;
    --sub-heading: "Mulish", sans-serif;
    --body-font: "Josefin Sans", sans-serif;

    /* layout-borders */
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;

    /* transitions */
    --fast-transition: 0.2s ease;
    --med-transition: 0.4s ease;
    --slow-transition: 0.6s ease;

    /* shadows */
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-strong: 0 10px 30px rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 15% minmax(150px, 20%) 1fr auto;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 2px rgb(196, 18, 18);
    gap: 1rem;
}

header img {
    width: 60px;
    height: auto;
}

.nav {
    display: flex;
    flex: 1 1 25%;
    align-items: left;
    justify-content: space-between;
    text-decoration: none;
}

nav a {
    text-decoration: none;

}

.basket-icon {
    justify-self: end;
}

.basket-icon img {
    width: 30px;
    height: auto;
    padding-left: 2rem;
}

/* HERO SECTION */
.hero img {
    width: 100%;
    height: calc(100vh - 65px);
}

/* LIBRARY STYLE */
.toyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.toyContainer .toy-card {
    width: 300px;
    height: auto;
    background-color: yellow;
    /* align-content: center; */
    justify-items: center;
}

.toy-card img {
    width: 90%;
    height: 150px;
    background-color: rgba(92, 85, 85, 0.295);
    align-self: center;
}



/* BASKET ---> basket.js*/
.basket-card {
    display: grid;
    grid-template-columns: 50px minmax(250px, 60%) auto;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: bisque;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgb(214, 155, 83) inset;
}

.basket-card img {
    width: 70px;
    height: auto;
    padding: 10px;
    align-self: center;
    border: 2px solid rgb(150, 80, 80);
    border-radius: 6px;
    margin-left: 1rem;
}

.basket-card button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(119, 126, 86);
    color: white;
    border: none;
    align-self: center;
}

.basket-card .toy-details {
    margin-left: 2.5rem;
    align-self: center;
}

.basket-card button {
    transition: transform 0.2s ease;
}

.basket-card button:hover {
    background-color: rgb(150, 80, 80);
    cursor: pointer;
    transform: scale(1.1);
}

/* ABOUT US */
/* about us overlay */
section.problems-solved {
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 3rem;
}

.problem-visual {
    position: relative;
    overflow: hidden;
}

.solution {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: left 0.4s ease;
    box-sizing: border-box;
    border-radius: 0 var(--radius-large) var(--radius-large) 0;
}

.problem-card {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-radius: var(--radius-large); */
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.problem-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 var(--radius-large) var(--radius-large) 0;
}

.problem-card:hover .solution {
    left: 0;
    font-family: var(--body-font);
}

.problem-title {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding-left: 1rem;

    & h3 {
        color: white;
        font-size: 1.5rem;
        font-family: "Mulish", sans-serif;
    }
}

/* about us text */
.about-hero {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
    /* padding: 6rem 2rem; */
    background-color: whitesmoke;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-small);
}


.about-hero img {
    width: 300px;
    position: relative;
    top: 60px;
    left: 40px;
}

.about-text {
    position: absolute;
    bottom: 13rem;
    left: 27rem;
    right: -450px;
    width: 55%;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: var(--radius-large);
    box-shadow: var(--shadow-soft);
}

/* dashboard */
.impact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.dashboard h3.animate-count {
    display: inline-block;
    transform: scale(1.3);
    transition: transform 0.4s ease;
}

/* FORM *5