:root {
    /* fonts */
    --primary-color: #CC5F00;
    --secondary-color: #F7FE72;
    --accent1-color: #0B4F6C;
    --accent2-color: #C41212;
    --background-color: #FFF8DC;

    /* fonts */
    --main-heading: "Outfit", sans-serif;
    --sub-heading: "Mulish", sans-serif;
    --body-font: "Josefin Sans", sans-serif;

    /* layout-borders */
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;

    /* transitions */
    --fast-transition: 0.2s ease;
    --med-transition: 0.4s ease;
    --slow-transition: 0.6s ease;

    /* shadows */
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-strong: 0 10px 30px rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 15% minmax(150px, 20%) 1fr auto;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid 3px var(--primary-color);
    border-top: solid 3px var(--primary-color);
    gap: 1rem;
    padding-bottom: 1rem;
    background-color: #f8c293;
    & span {
        font-family: var(--sub-heading);
        font-size: 1.rem;
        color: var(--accent1-color);
        font-weight: 600;

    }
}

header img {
    width: 60px;
    height: auto;
}

.nav {
    display: flex;
    flex: 1 1 25%;
    align-items: left;
    justify-content: space-between;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-family: var(--sub-heading);
    font-size: 1.2rem;
    color: var(--accent1-color);
    font-weight: 600;
}

.basket-icon {
    justify-self: end;
}

.basket-icon img {
    width: 30px;
    height: auto;
    padding-left: 2rem;
}

/* HERO SECTION */
.hero img {
    width: 100%;
    height: calc(100vh - 65px);
}

/* LIBRARY STYLE */
.toyContainer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5rem;
}

h1 {
    font-family: var(--main-heading);
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.toyContainer .toy-card {
    width: 300px;
    height: auto;
    background-color: var(--background-color);
    text-align: center;
    justify-items: center;
    border: solid 3px var(--primary-color);
    border-radius: var(--radius-medium);
    & h3 {
        font-family: var(--sub-heading);
        color: var(--accent1-color);
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        /* height: 50px; */
    }  
    & .skills, p {
        font-family: var(--body-font);
        padding: 0 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        /* height: 20px; */
    } 
    & button {
        width: 80%;
        height: 40px;
        border-radius: var(--radius-large);
        background-color: var(--accent1-color);
        color: white;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 0.5rem;
        transition: 
        background-color 0.4s ease;
        box-shadow: 0.4s ease;
    }
    & button:hover {
        /* gradient effect on hover */
        background-color: #2d8cb4;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        /* padding: 15px; */

    }
}

.toy-card img {
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);
    align-self: center;
}



/* LIBRARY */
/* product icons */
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    & img {
        width: auto;
        height: 250px;
    }
}

/* BASKET ---> basket.js*/
.basket-card {
    display: grid;
    grid-template-columns: 50px minmax(250px, 60%) auto;
    gap: 2rem;
    margin-bottom: 1rem;
    /* background-color: bisque; */
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgb(214, 155, 83) inset;
}

.basket-card img {
    width: 100%;
    height: auto;
    padding: 10px;
    align-self: center;
    border: 2px solid rgb(150, 80, 80);
    border-radius: 6px;
    margin-left: 1rem;
}

.basket-card button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(119, 126, 86);
    color: white;
    border: none;
    align-self: center;
}

.basket-card .toy-details {
    margin-left: 2.5rem;
    align-self: center;
}

.basket-card button {
    transition: transform 0.2s ease;
}

.basket-card button:hover {
    background-color: rgb(150, 80, 80);
    cursor: pointer;
    transform: scale(1.1);
}

/* ABOUT US */
/* about us overlay */
section.problems-solved {
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 3rem;
}

.problem-visual {
    position: relative;
    overflow: hidden;
}

.solution {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: left 0.4s ease;
    box-sizing: border-box;
    border-radius: 0 var(--radius-large) var(--radius-large) 0;
}

.problem-card {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-radius: var(--radius-large); */
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.problem-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 var(--radius-large) var(--radius-large) 0;
}

.problem-card:hover .solution {
    left: 0;
    font-family: var(--body-font);
}

.problem-title {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding-left: 1rem;

    & h3 {
        color: white;
        font-size: 1.5rem;
        font-family: "Mulish", sans-serif;
    }
}

/* about us text */
.about-hero {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    /* height: 600px; */
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: var(--radius-large);
    box-shadow: var(--shadow-soft);
    /* padding: 6rem 2rem; */
    /* background-color: whitesmoke; */
    /* box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2); */
    /* border-radius: var(--radius-small); */
}


.about-hero img {
    width: 300px;
    height: auto;
    justify-self: center;
}

.about-text {
    width: 55%;
    padding: 1rem;
    
}

/* OUR IMPACT - dashboard */
.dashboard h2 {
    font-family: var(--main-heading);
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.impact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    /* margin-top: 2rem; */
    padding: 1rem;
    align-items: center;
    background-color: var(--primary-color);
    & .dashboard-card {
       color: white;
       text-align: center;
       font-family: var(--body-font);
    }
    & h3 {
        font-family: var(--sub-heading);
        font-size: 2rem;
        color: aliceblue;
    }
    & p {
        font-size: 1.2rem;
    }
}

.dashboard h3.animate-count {
    display: inline-block;
    transform: scale(1.3);
    transition: transform 0.4s ease;
}

/* FORM *5